<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VetHouse.App.Presentacion</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body>
    @* <a class="navbar-brand" asp-area="" asp-page="/Index">VetHouse.App.Presentacion</a>
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
        <a class="nav-link text-dark" asp-area="" asp-page="/OwnersFile/Index">Privacy</a>*@
    <header>
        <nav>
            <div class="nav-links">
                <a asp-area="" asp-page="/Vet/RegisterVet">Vet</a>
                <p>Felipe Ceballos</p>
                <div class="profile-picture"></div>
            </div>
        </nav>
    </header>
    <nav class="navSide"></nav>
    <main role="main">
        @RenderBody()
    </main>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true" defer></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
